@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400|Nunito+Sans:300,400&display=swap');


#root{
    overflow: hidden;
}

p,a{
    font-family: 'Nunito Sans', ;
}

.App{


    width: 97vw;
    height:100%;
    border-left: 1px solid #FD904A ;
    border-right: 1px solid #FD904A ;
    margin: 0 auto;

    

    
    
    
    
    
}
h1, h2, h3, h4{

    font-family: 'Gothic A1' ;
    font-weight: 100;
}

#root{

    width: 100vw;
    height:100%;

}

body{
    background-color: #fff;
  width: 100%;
height: 100vh;
}


img{
  width: 100%;
  
}