@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400|Nunito+Sans:300,400&display=swap');


#root{
    overflow: hidden;
}

.App{


    width: 97vw;
    height:100%;
    border-left: 1px solid #FD904A ;
    border-right: 1px solid #FD904A ;
    margin: 0 auto;

    

    font-family: 'Gothic A1', ;

    


}

#root{

    width: 100vw;
    height:100%;

}

body{
    background-color: #fff;
  width: 100%;
height: 100vh;
}


img{
  width: 100%;
  
}