.title{
    display: flex;
    background-color: #ffffff;
    width: 300px;
    overflow: hidden;
    z-index: 2;
    
    .square{
        width: 97px;
        height: 119px;
        background: #FFFFFF;
        
        .typo{
            background-color: #131636;
            overflow: hidden;
            h3{
                font-style: normal;
                font-weight: bold;
                font-size: 75px;
                line-height: 99px;
                text-align: center;
                color: #ffffff;
                &.dot{
                    color: #FD904A;
                }
            }
        }

    }

}
.image-container{
    width: 700px;
    height: 466px;
    overflow: hidden;

    top: 70px;
    right: 0;

}
.board-animation{
    position: relative;
    width: 1280px;
    height: 541px;
    margin: auto auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}
.mountain-view{
    max-width: 700px;



}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}
.wrapper{
    overflow: hidden;
}
.main-home{
    width: 100vw;
    height:100%;
}

.title-background{
    position: absolute;
    background-color: #fff;
    height: 106px;
    width: 510px;
}

.about{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

    .text-container{
        width: 100%;
        max-width: 400px;

    }
    .c-image{
        overflow: hidden;
        img{
            height: 500px;
        }
    }
}



.movie-container{
    width: 100%;
    max-width: 1280px;
    background-color: pink;

}