.title{
    display: flex;
    background-color: #fff;
    width: 440px;
    .square{
        width: 97px;
        height: 119px;
        background: #FFFFFF;
        
        .typo{
            
            h3{
                font-style: normal;
                font-weight: bold;
                font-size: 75px;
                line-height: 99px;
                text-align: center;
                color: #131636;
                &.dot{
                    color: #FD904A;
                }
            }
        }

    }

}

.board-image{
    position: relative;
}
.mountain-view{
    max-width: 700px;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.wrapper{
    overflow: hidden;
}
.main-home{
    width: 100vw;
    height:100%;
}

.title-background{

    background-color: #fff;
    height: 106px;
    width: 510px;
}

