.title{
    display: flex;
    .square{
        width: 97px;
        height: 119px;
        background: #FFFFFF;
        border: 1px solid #131636;
        .typo{
            h3{
                font-style: normal;
                font-weight: bold;
                font-size: 75px;
                line-height: 99px;
                text-align: center;
                color: #131636;
                &.dot{
                    color: #FD904A;
                }
            }
        }

    }
}

.main-home{
    width: 100vw;
    height:100%;
}

.title-background{
    position: absolute;
    background-color: #fff;
    height: 106px;
    width: 510px;
}

