.works{
    display: flex;
    align-items: center;
    width: 1280px;
    background-color: pink;
    height: 690px;
    margin: auto auto;
    .folio{
        display: flex;
        
      
        .work--container{
            display: flex;
            align-items: center;
            .inner--left--container{
                
            }
            .inner--right--container{
    
            }
            
        }
    }

}
