.works{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    .folio{
        width: 1280px;
        background-color: pink;
        height: 690px;
        display: flex;
        
      
        .work--container{
            display: flex;
            max-width: 545px;
            width: 100%;
            background-color: blue;
            .inner--left--container{
                
            }
            .inner--right--container{
    
            }
            
        }
    }

}
