.works{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    .folio{
        width: 1280px;
        background-color: pink;
        height: 690px;
        display: flex;
        
      
        .work--container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: blue;
            .inner--left--container{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .work--navigation{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    width: 193px;
height: 55px;
                }
            
              
                
               
                
            }
            .inner--right--container{
               .slider--work{
                   .image--wrapper{
                       overflow: hidden;
                       position: relative;
                       .details--button{
                           position: absolute;
                           left: 0;
                           bottom: 0;
                       }

                   }
               }

            }
            
        }
    }

}
