.works{
    width: 1280px;
    background-color: pink;
    height: 690px;
    margin: 0 auto;
  
    .work--container{
        display: flex;
        align-items: center;
        .inner--left--container{
            
        }
        .inner--right--container{

        }
        
    }
}
