.works{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    .folio{
        width: 100%;
        max-width: 1280px;
        
        height: 690px;
        display: flex;
        
      
        .work--container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
        
            .inner--left--container{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 546px;
                .button-nav{
                    border: none;
                    &:hover{
                        
                        
                        border-bottom: 1px solid #131636;
                        
                    }
                }
                .work--navigation{
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                    max-width: 193px;
                    height: 55px;
                }
                .breadcrumbs{
                    p{

                        font-family: "Gothic A1";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 30px;
                    }

                }
            
              
                
               
                
            }
            .inner--right--container{
               .slider--work{
                   .image--wrapper{
                       overflow: hidden;
                       position: relative;
                       
                       .back-layer{
                           width: 100%;
                           height: 100%;
                           position: absolute;
                           background-color: #131636;

                       }
                       .details--button{
                           position: absolute;
                           left: 0;
                           bottom: 0;
                           
                           button{
                            width: 222px;
                            height: 71px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center ;
                           }
                       }

                   }
               }

            }
            
        }
    }

}
