.border-container{
  width: 95vw;
  height: 95vh;
  background-color: #EEFFEE;
  border: 1px solid #FD904A;
  position: absolute;



}




.frame{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
